{% extends 'layout.html' %}

{% block title %} - {{ mineral.name }}{% endblock%}
{% block content %}
	<article class="grid-100 mineral_container">
		<h1 class="mineral_name">{{ mineral.name }}</h1>
		<div class="mineral_image-bg">
			<!-- imagehere -->
			<p class="mineral_caption">Mineral Image Caption Here</p>
		</div>
		<div class="mineral_table-container">
			<table class="mineral__table">
				<tbody><!-- forloop through attributes to generate table? -->
				  <tr>
					<td class="mineral__category">Category</td>
					<td>Mineral category</td>
				  </tr>
				  <tr>
					<td class="mineral__category">Formula</td>
					<td class="mineral__formula">
						<!-- This part may require safe filter? -->
						Ca<sub>4</sub>(Al,Fe,Mg)<sub>10</sub>Si<sub>12</sub>O<sub>35</sub>(OH)<sub>12</sub>CO<sub>3</sub>·12H<sub>2</sub>O</td>
				  </tr>
				  <tr>
					<td class="mineral__category">Strunz Classification</td>
					<td>09.DB.45</td>
				  </tr>
				  <tr>
					<td class="mineral__category">Unit Cell</td>
					<td>a = 14.690(15) Å, b = 16.872(15) Å, c = 5.170(15) Å, Z = 2</td>
				  </tr>
				  <tr>
					<td class="mineral__category">Color</td>
					<td>Blue to blue-green</td>
				  </tr>
				  <tr>
					<td class="mineral__category">Crystal Habit</td>
					<td>fibrous</td>
				  </tr>
				  <tr>
					<td class="mineral__category">Mohs Scale Hardness</td>
					<td>3</td>
				  </tr>
				</tbody>
			</table>
	</article>
{% endblock %}