{% extends 'layout.html' %}
{% load static from staticfiles %}

{% load mineral_extras %}
{% block title %} - {{ mineral.name }}{% endblock%}
{% block content %}
  <div class="bounds bounds--small">
    <div class="grid-100 mineral__container">
      <h1 class="mineral__name">{{ mineral.name }}</h1>
      <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'img/' %}{{ mineral.name }}.jpg" alt="{{ mineral.name|title }}">
        <p class="mineral__caption">{{ mineral.imgcap }}</p>
      </div>
      <div class="mineral__table-container">
		<table class="mineral__table">
			<tbody>
				{% for attr in attrlist %}
					{% if attr.1 %}
						<tr>
							<td class="mineral__category">{{ attr.0|title|underspace }}</td>
							<td>{{ attr.1|safe }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
      </div>
    </div>
  </div>
{% endblock %}