@import "global.css";

	body {
	background: linear-gradient(to down, #BDE5DD 25%, #967AA1 50% #384033 75%);
	}
	nav li {
	color: #000000;
	padding: 20px 0 20px 0;
	text-align: center;
	width: 33%;
	float: left;
	list-style: none;
	}
	
	a { 
		background-color: #ACD1C9;
		color: #000000;
		font-weight: bold;
	}
	a:active, a:hover { outline: 0; }
	.minerals__container { 
	background: linear-gradient(#967AA1 10%, transparent 30%, #AAA1C8 50%, transparent 70%, #967AA1 90%),   url("#");
	background-attachment: fixed;
	}

.minerals__random a { 
	background: linear-gradient(to left, #B5D0D0 25%, #F3EBE8 50%, #FFC4D9 75%);
	color: #000000;
	font-weight: bold;
	}

	
	.slideimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
    vertical-align: super;
	}
	
	#slides {
    background: linear-gradient(to down, #BDE5DD, #BDE5DD 25%, transparent 50%, transparent, #BDE5DD 75%);	
	}
	#slides:hover {
	background-color: BDE5DD;		
	}
    #arsenates { 
		background-color: #F3EBE8;
		color: #000000;
		font-weight: bold;
	}
	#arsenates:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #borates { 
		background-color: #FFB8D1;
		color: #000000;
		font-weight: bold;
	}
	#borates:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #carbonates { 
		background-color: #E4B4C2;
		color: #000000;
		font-weight: bold;
	}
	#carbonates:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #halides { 
		background-color: #E7CEE3;
		color: #000000;
		font-weight: bold;
	}
	#halides:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #other { 
		background-color: #E0E1E9;
		color: #000000;
		font-weight: bold;
	}
	#other:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #oxides { 
		background-color: #DDFDFE;
		color: #000000;
		font-weight: bold;
	}
	#oxides:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #phosphates { 
		background-color: #D0A4B1;
		color: #000000;
		font-weight: bold;
	}
	#phosphates:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #silicates { 
		background-color: #FFC4D9;
		color: #000000;
		font-weight: bold;
	}
	#silicates:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #sulfates { 
		background-color: #CCCDD4;
		color: #000000;
		font-weight: bold;
	}
	#sulfates:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #sulfides { 
		background-color: #B5D0D0;
		color: #000000;
		font-weight: bold;
	}
	#sulfides:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #sulfosalts { 
		background-color: #D2BCCF;
		color: #000000;
		font-weight: bold;
	}
	#sulfosalts:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #native-elements { 
		background-color: #DCBCC6;
		color: #000000;
		font-weight: bold;
	}
	#native-elements:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
    #organic-minerals { 
		background-color: #D0A4B1;
		color: #000000;
		font-weight: bold;
	}
	#organic-minerals:hover { 
		background-color: #BDE5DD;
		color: #000000;
		font-weight: bold;
	}
	
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background: linear-gradient(to down, #BDE5DD 25%, transparent 50% #BDE5DD 75%);
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: #BDE5DD;
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

