{% load static from staticfiles %}
<!doctype html>
<html lang="en-US">
	<head>
		<title>MineralCat{% block title %}{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<nav></nav>
		<div class="bounds">
			<header class="grid-100">
				<a href="{% url 'minerals:mineral_list' %}"><!-- use appropriate django 2.1 logic to point to templates -->
					<!-- LOGOHERE -->
					<svg class="logo" viewBox="0 0 127.6 84.8" preserveaspectration="xMinYMin meet">
					  <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "></polygon>
					  <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "></polygon>
					  <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "></polygon>
					</svg>
					<h1 class="logo_name text-centered">Mineral Cat</h1>
				</a>
				<p class="logo_text text-centered">All the Gems!</p>
			</header>
			<div class="grid-100">
			
			{% block content %}{% endblock %}
			</div>
		</div>
		<footer class="minerals__random">
			<a class="minerals__anchor" href="{% url 'minerals:random_mineral' %}">Show random mineral</a>
		</footer>
	</body>
</html>